<div class="container mt-5 mb-3">
  <button type="button" class="btn-back" (click)="backtoList()"><i class="fas fa-long-arrow-alt-left"></i> Back</button>
  <h4>Update Job Details</h4>
  <form [formGroup]="editJobForm" class="form-horizontal" (ngSubmit)="updateJob()">
    <div class="form-group">
      <label class="control-label col-md-3">Job Title:</label>
      <div class="col-md-6">
        <input formControlName="JobTitle" class="form-control" autocomplete="off" required />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">Company:</label>
      <div class="col-md-6">
        <select formControlName="CompanyId" class="form-control" required>
          <option *ngFor="let company of companyList" [ngValue]="company.id">{{ company.value }}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">Job Type:</label>
      <div class="col-md-6">
        <select formControlName="JobType" class="form-control" required>
          <option>Part Time</option>
          <option>Full Time</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3">Job Description: </label>
      <div class="col-md-6">
        <textarea formControlName="JobDescription" class="form-control" required></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3">Salary:</label>
      <div class="col-md-6">
        <input type="number" formControlName="Salary" class="form-control" autocomplete="off" min="1" required />
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6 text-end">
        <button type="submit" class="btn-update" [disabled]="editJobForm.invalid || !isUpdating">
          Update
        </button>
        <button *ngIf="!isUpdating" class="btn btn-md btn-success" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Updating...
        </button>
      </div>
    </div>
  </form>
</div>